:root {
  --primary-color: #F1D9BF;
  --secondary-color: #FCF8F3;
  --tertiary-color: #2E211B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* START - BODY STYLINNG */
body {
    background-color: var(--secondary-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* END - BODY STYLING */

/* START - HEADER STYLING */
header {
    padding: 15px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/Lia_hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--tertiary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header h1 a {
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
    color: var(--tertiary-color);
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--tertiary-color);
    text-decoration: none;
}
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px 10px 0 0;
    text-shadow: none;
}
/* END - HEADER STYLING */

/* START HERO IMAGE STYLING */
.hero {
    background-image: url("../images/Lia_hero.jpg");
    background-size: cover;
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 100%;
}

.hero-subtitle {
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
/* END HERO IMAGE STYLING */

/* START - ABOUT ME */
#about-me {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* END - ABOUT ME */

/* START - WORK */
#work {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* START - FOOTER STYLING */
footer {
    background: var(--tertiary-color);
    background: rgba(241,217,191,0.5);
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
  
footer a {
    color: var(--tertiary-color);
}

.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form h2 {
    flex-wrap: wrap;
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
    justify-content: space-between;
}

.contact-form input, 
.contact-form textarea {
    border: 1px solid var(--tertiary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--tertiary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(252,248,243, 0.75);
}
  
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(252,248,243, 1);
    outline: none;
}
  
.contact-form button {
    width: 30%;
    border: 1px solid var(--tertiary-color);
    background: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
  }
  
.contact-form button:hover {
    color: var(--tertiary-color);
    background: var(--primary-color);
}

.connect {
    background: var(--tertiary-color);
}
  /* END FOOTER STYLES */