:root {
  --primary-color: #F1D9BF;
  --secondary-color: #FCF8F3;
  --tertiary-color: #2E211B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* START - BODY STYLINNG */
body {
    background-color: var(--secondary-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* START - HEADER STYLING */
header {
    padding: 15px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/Lia_hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--tertiary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header h1 a {
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
    color: var(--tertiary-color);
    text-decoration: none;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px 10px 0 0;
    text-shadow: none;
}

/* START HERO IMAGE STYLING */
.hero {
    background-image: url("../images/Lia_hero.jpg");
    background-size: cover;
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 100%;
}

.hero-subtitle {
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
/* END HERO IMAGE STYLING */